Creating a database consisting of a single table called livetolldata to store data recived from kafka streaming pipeline

In [1]:
import mysql.connector
import pandas as pd

In [2]:
# creating a connection opject to connect with MYSQL server
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "**********"
) 
# creating a cursor opject  
c = db.cursor()

In [3]:
#creating a database called py_DB
try:
    c.execute("CREATE DATABASE tolldata")
except:
    # if database alredy exists it will print database alredy exists 
    print("tolldata database alredy exists")

tolldata database alredy exists

In [4]:
# navigating through databases and connect to py_db
conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "************",
    database = "tolldata"
) 
# creating a cursor opject  
c = conn.cursor()

In [5]:
#creating a new table called INSTRUCTOR
try:
    table = '''
            create table IF NOT EXISTS livetolldata(
                                timestamp datetime,
                                vehicle_id int,
                                vehicle_type char(15),
                                toll_plaza_id smallint
                                                    );
            '''
    c.execute(table)
except:
    print ("livetolldata table alredy exists")

In [6]:
conn.close()